* {
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    /*background-color: wheat;*/
    /* Rectangle: */
    background-image: linear-gradient(-269deg, #EE969C 0%, #7E619B 99%);
    margin: 0 0 100px;
}

.banner-container {
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: white;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.50);
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.column-4 {
    width: 33.33333333%;
    float: left;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.main-content {
    margin-top: 40px;
    padding-bottom: 60px;
}

.text-center {
    text-align: center;
}

.footer-section {
    background: #404446;
    color: #fff;
    line-height: 1.6;
    padding: 16px;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
}

.clear:after {
    content: "";
    clear: both;
    display: table;
}

.panel {
    background-color: white;
    width: 300px;
    margin: 15px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #C7C7C7;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.50);
    position: relative;
    align-self: center;
    font-weight: bold;
}

.panel li {
    padding: 10px;
}

.panel-title {
    background-color: white;
    width: 300px;
    margin: 15px;
    border-radius: 5px;
    border: 1px solid #C7C7C7;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.50);
    position: relative;
    align-self: center;
}

.panel-title:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -0.5em;
    left: 90%;
    box-sizing: border-box;
    border: 7px solid black;
    border-color: transparent transparent white white;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    box-shadow: -3px 2px 2px 0 rgba(0, 0, 0, 0.4);
}

.content {
    margin: 15px;
}