* {
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
}

body {
    animation: fadein 2s;
    background-image: none;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.top {
    opacity: 1;
    height: 100vh;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    /*background-color: wheat;*/
    /* Rectangle: */
    background-image: linear-gradient(-269deg, #EE969C 0%, #7E619B 99%);
    margin: 0 0 100px;
}

.banner-container {
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: white;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.50);
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.column-4 {
    width: 33.33333333%;
    float: left;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.main-content {
    padding-top: 150px;
    padding-bottom: 60px;
    height: 100vh;
    position: relative;
}

.text-center {
    text-align: center;
}

.footer-section {
    background: #404446;
    color: #fff;
    line-height: 1.6;
    padding: 16px;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
}

.clear:after {
    content: "";
    clear: both;
    display: table;
}

.panel {
    background-color: white;
    width: 300px;
    margin: 15px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #E8E8E8;
    background-color: white;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.50);
    font-family: Helvetica;
    font-size: 11px;
    color: #1D1D1D;
    position: relative;
    align-self: center;
    font-weight: bold;
}

.panel li {
    padding: 10px;
}

.panel-title {
    background-color: white;
    width: 300px;
    margin: 15px;
    border-radius: 5px;
    border: 1px solid #E8E8E8;
    background-color: white;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.50);
    font-family: Helvetica;
    position: relative;
    align-self: center;
    text-align: center;
}

.panel-title:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -0.5em;
    left: 90%;
    box-sizing: border-box;
    border: 7px solid black;
    border-color: transparent transparent white white;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    box-shadow: -3px 2px 2px 0 rgba(0, 0, 0, 0.4);
}

.content {
    margin: 15px;
}

.button {
    padding: 20px;
    margin: auto;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
}

.btn-banner {
    display: inline-block;
    padding: 12px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid #E8E8E8;
    border-radius: 100px;
    background-color: white;
    box-shadow: 0px 4px 8px 0px rgba(230, 230, 230, 0.50);
    font-family: Helvetica;
    font-size: 10px;
    color: #1D1D1D;
    transition: 0.5s;
}

.btn-banner:hover {
    background-color: ;
    /* Rectangle 20: */
    background: #FAFAFA;
    box-shadow: 0px 4px 8px 0px rgba(230, 230, 230, 0.50);
    padding: 15px 15px;
    transition: 0.5s;
    font-size: 11px;
}